<h2 class="section-header" style="border-bottom: 0px;">
    <span class="header-decoration left"></span>
    <img src="systems/stryder/assets/jump-icon.svg" width="25px" height="25px" style="border:0px; position: relative; top: 0px; left: -10px;">
    <strong>{{localize "Jump Distances"}}</strong>
    <span class="header-decoration right"></span>
</h2>
<div class="jump-container">
    <div class="jump-item vertical-jump rollable" data-jump-type="vertical">
        <img src="systems/stryder/assets/vertical-jump-icon.svg" alt="Vertical Jump" class="jump-icon" style="border:0px">
        <span class="jump-label">{{localize "Vertical"}}</span>
        <input type="text" name="system.jump.vertical" value="{{verticalJumpDistance}}" readonly data-dtype="Number">
    </div>
    <div class="jump-item horizontal-jump rollable" data-jump-type="horizontal">
        <img src="systems/stryder/assets/horizontal-jump-icon.svg" alt="Horizontal Jump" class="jump-icon" style="border:0px">
        <span class="jump-label">{{localize "Horizontal"}}</span>
        <input type="text" name="system.jump.horizontal" value="{{horizontalJumpDistance}}" readonly data-dtype="Number">
    </div>
</div>
<br />
<h2 class="section-header" style="border-bottom: 0px;"><span class="header-decoration left"></span><img src="systems/stryder/assets/senses.svg" width="25px" height="25px" style="border:0px; position: relative; top: 0px; left: -10px;"><strong>{{localize "Senses"}}</strong><span class="header-decoration right"></span></h2>
<div class="skills-container">
    <div class="skills-grid senses">
        {{#each system.attributes.sense as |sense key|}}
            <div class="skill">
                <img src="systems/stryder/assets/{{key}}-icon.svg" alt="{{key}} icon" class="skill-icon" style='border:0px'>
                <span class="skill-label rollable" data-roll="2d6+@attributes.sense.{{key}}.value" data-label="{{key}}">
                    {{key}}
                </span>
                <input type="text" name="system.attributes.sense.{{key}}.value" value="{{sense.value}}" readonly data-dtype="Number">
            </div>
        {{/each}}
    </div>
</div>
	<br />
<h2 class="section-header" style="border-bottom: 0px;"><span class="header-decoration left"></span><img src="systems/stryder/assets/talents.svg" width="25px" height="25px" style="border:0px; position: relative; top: 0px; left: -10px;"><strong>{{localize "Talents"}}</strong><span class="header-decoration right"></span></h2>
<div class="skills-container">
    <div class="skills-grid talents">
        {{#each system.attributes.talent as |talent key|}}
            <div class="skill">
                <img src="systems/stryder/assets/{{key}}-icon.svg" alt="{{key}} icon" class="skill-icon" style='border:0px'>
                <span class="skill-label rollable" data-roll="2d6+@attributes.talent.{{key}}.value" data-label="{{key}}">
                    {{key}}
                </span>
                <input type="text" name="system.attributes.talent.{{key}}.value" value="{{talent.value}}" readonly data-dtype="Number">
            </div>
        {{/each}}
    </div><br />
</div>

<!-- Combined Stat Perks and Fantasms Section -->
<div class="flexrow-stats scrolling-container" style="gap: 20px;">
    <!-- Stat Perks (Left Column) -->
    <div class="flexcol-stats scroll-wrapper" style="flex: 1;">
        <h2 class="section-header" style="border-bottom: 0px;"><span class="header-decoration left"></span><img src="systems/stryder/assets/stat-perks.svg" width="25px" height="25px" style="border:0px; position: relative; top: 0px; left: -10px;"><strong>{{localize "Stat Perks"}}</strong><span class="header-decoration right"></span></h2>
        <ol class='items-list'>
            <li class='item flexrow items-header'>
                <div class='item-name'>{{localize 'Stat Perks'}}&nbsp<i class='toggle-icon fas fa-chevron-down'></i></div>
                <div class='item-controls'>
                    <a class='item-control item-create' title='Create item' data-type='statperk'>
                        <i class='fas fa-plus'></i>
                    </a>
                </div>
            </li>
            <div class="scrolling-content">
                {{#each statperks as |item id|}}
                    <li class='item flexrow' data-item-id='{{item._id}}'>
                        <div class='item-name rollable' data-roll-type='item'>
                            <div class='item-image'>
                                <a class='rollable' data-roll-type='item'>
                                    <img src='{{item.img}}' title='{{item.name}}' width='24' height='24'/>
                                </a>
                            </div>
                            <h4>{{item.name}}</h4>
                        </div>
                        <div class='item-controls'>
                            <a class='item-control item-duplicate' title='{{localize "STRYDER.DOCUMENT.Duplicate"}}' data-action='duplicate'>
                                <i class='fas fa-copy'></i>
                            </a>
                            <a class='item-control item-edit' title='{{localize "DOCUMENT.Edit" type='statperk'}}' data-action='edit'>
                                <i class='fas fa-edit'></i>
                            </a>
                            <a class='item-control item-delete' title='{{localize "DOCUMENT.Delete" type='statperk'}}' data-action='delete'>
                                <i class='fas fa-trash'></i>
                            </a>
                        </div>
                    </li>
                {{/each}}
            </div>
        </ol>
    </div>

    <!-- Fantasms (Right Column) -->
    <div class="flexcol-stats scroll-wrapper" style="flex: 1;">
        <h2 class="section-header" style="border-bottom: 0px;"><span class="header-decoration left"></span><img src="systems/stryder/assets/fantasms.svg" width="25px" height="25px" style="border:0px; position: relative; top: 0px; left: -10px;"><strong>{{localize "Fantasms"}}</strong><span class="header-decoration right"></span></h2>
        <ol class='items-list'>
            <li class='item flexrow items-header'>
                <div class='item-name'>{{localize 'Fantasms'}}&nbsp<i class='toggle-icon fas fa-chevron-down'></i></div>
                <div class='item-controls'>
                    <a class='item-control item-create' title='Create item' data-type='fantasm'>
                        <i class='fas fa-plus'></i>
                    </a>
                </div>
            </li>
            <div class="scrolling-content">
                {{#each fantasms as |item id|}}
                    <li class='item flexrow' data-item-id='{{item._id}}'>
                        <div class='item-name rollable' data-roll-type='item'>
                            <div class='item-image'>
                                <a class='rollable' data-roll-type='item'>
                                    <img src='{{item.img}}' title='{{item.name}}' width='24' height='24'/>
                                </a>
                            </div>
                            <h4>{{item.name}}</h4>
                        </div>
                        <div class='item-controls'>
                            <a class='item-control item-duplicate' title='{{localize "STRYDER.DOCUMENT.Duplicate"}}' data-action='duplicate'>
                                <i class='fas fa-copy'></i>
                            </a>
                            <a class='item-control item-edit' title='{{localize "DOCUMENT.Edit" type='fantasm'}}' data-action='edit'>
                                <i class='fas fa-edit'></i>
                            </a>
                            <a class='item-control item-delete' title='{{localize "DOCUMENT.Delete" type='fantasm'}}' data-action='delete'>
                                <i class='fas fa-trash'></i>
                            </a>
                        </div>
                    </li>
                {{/each}}
            </div>
        </ol>
    </div>
</div>

<h2 class="section-header" style="border-bottom: 0px;"><span class="header-decoration left"></span><img src="systems/stryder/assets/adjust-talents.svg" width="25px" height="25px" style="border:0px; position: relative; top: 0px; left: -10px;"><strong>{{localize "Adjust Talents"}}</strong><span class="header-decoration right"></span></h2>
<i>{{localize "Talent Adjustment Instructions"}}</i>
<br /><br />
<div class="talent-adjustments">
<center>
    <!-- Dropdown 1 -->
    <select class="talent-select" id="talent-select-1" name="system.talent.level1.selection">
		{{#select system.talent.level1.selection}}
        <option value=""></option>
        <option value="endurance">{{localize "Endurance"}}</option>
        <option value="nimbleness">{{localize "Nimbleness"}}</option>
        <option value="strength">{{localize "Strength"}}</option>
        <option value="survival">{{localize "Survival"}}</option>
        <option value="charm">{{localize "Charm"}}</option>
        <option value="wit">{{localize "Wit"}}</option>
        <option value="wisdom">{{localize "Wisdom"}}</option>
        <option value="deceit">{{localize "Deceit"}}</option>
        <option value="diplomacy">{{localize "Diplomacy"}}</option>
        <option value="intimacy">{{localize "Intimacy"}}</option>
        <option value="aggression">{{localize "Aggression"}}</option>
		{{/select}}
    </select>

    <!-- Dropdown 2 -->
    <select class="talent-select" id="talent-select-2" name="system.talent.level2.selection">
		{{#select system.talent.level2.selection}}
        <option value=""></option>
        <option value="endurance">{{localize "Endurance"}}</option>
        <option value="nimbleness">{{localize "Nimbleness"}}</option>
        <option value="strength">{{localize "Strength"}}</option>
        <option value="survival">{{localize "Survival"}}</option>
        <option value="charm">{{localize "Charm"}}</option>
        <option value="wit">{{localize "Wit"}}</option>
        <option value="wisdom">{{localize "Wisdom"}}</option>
        <option value="deceit">{{localize "Deceit"}}</option>
        <option value="diplomacy">{{localize "Diplomacy"}}</option>
        <option value="intimacy">{{localize "Intimacy"}}</option>
        <option value="aggression">{{localize "Aggression"}}</option>
		{{/select}}
    </select>

    <!-- Dropdown 3 -->
    <select class="talent-select" id="talent-select-3" name="system.talent.level3.selection">
		{{#select system.talent.level3.selection}}
        <option value=""></option>
        <option value="endurance">{{localize "Endurance"}}</option>
        <option value="nimbleness">{{localize "Nimbleness"}}</option>
        <option value="strength">{{localize "Strength"}}</option>
        <option value="survival">{{localize "Survival"}}</option>
        <option value="charm">{{localize "Charm"}}</option>
        <option value="wit">{{localize "Wit"}}</option>
        <option value="wisdom">{{localize "Wisdom"}}</option>
        <option value="deceit">{{localize "Deceit"}}</option>
        <option value="diplomacy">{{localize "Diplomacy"}}</option>
        <option value="intimacy">{{localize "Intimacy"}}</option>
        <option value="aggression">{{localize "Aggression"}}</option>
		{{/select}}
    </select>

    <!-- Dropdown 4 -->
    <select class="talent-select" id="talent-select-4" name="system.talent.level4.selection">
		{{#select system.talent.level4.selection}}
        <option value=""></option>
        <option value="endurance">{{localize "Endurance"}}</option>
        <option value="nimbleness">{{localize "Nimbleness"}}</option>
        <option value="strength">{{localize "Strength"}}</option>
        <option value="survival">{{localize "Survival"}}</option>
        <option value="charm">{{localize "Charm"}}</option>
        <option value="wit">{{localize "Wit"}}</option>
        <option value="wisdom">{{localize "Wisdom"}}</option>
        <option value="deceit">{{localize "Deceit"}}</option>
        <option value="diplomacy">{{localize "Diplomacy"}}</option>
        <option value="intimacy">{{localize "Intimacy"}}</option>
        <option value="aggression">{{localize "Aggression"}}</option>
		{{/select}}
    </select>

    <!-- Dropdown 5 -->
    <select class="talent-select" id="talent-select-5" name="system.talent.level5.selection">
		{{#select system.talent.level5.selection}}
        <option value=""></option>
        <option value="endurance">{{localize "Endurance"}}</option>
        <option value="nimbleness">{{localize "Nimbleness"}}</option>
        <option value="strength">{{localize "Strength"}}</option>
        <option value="survival">{{localize "Survival"}}</option>
        <option value="charm">{{localize "Charm"}}</option>
        <option value="wit">{{localize "Wit"}}</option>
        <option value="wisdom">{{localize "Wisdom"}}</option>
        <option value="deceit">{{localize "Deceit"}}</option>
        <option value="diplomacy">{{localize "Diplomacy"}}</option>
        <option value="intimacy">{{localize "Intimacy"}}</option>
        <option value="aggression">{{localize "Aggression"}}</option>
		{{/select}}
    </select>

	<!-- Dropdown 6 - Conditionally Displayed -->
	{{#if (gte system.attributes.level.value 4)}}
		<br />
		<select class="talent-select" id="talent-select-6" name="system.talent.level6.selection">
			{{#select system.talent.level6.selection}}
			<option value=""></option>
			<option value="endurance">Endurance</option>
			<option value="nimbleness">Nimbleness</option>
			<option value="strength">Strength</option>
			<option value="survival">Survival</option>
			<option value="charm">Charm</option>
			<option value="wit">Wit</option>
			<option value="wisdom">Wisdom</option>
			<option value="deceit">Deceit</option>
			<option value="diplomacy">Diplomacy</option>
			<option value="intimacy">Intimacy</option>
			<option value="aggression">Aggression</option>
			{{/select}}
		</select>
	{{/if}}

	<!-- Dropdown 7 - Conditionally Displayed -->
	{{#if (gte system.attributes.level.value 7)}}
		<select class="talent-select" id="talent-select-7" name="system.talent.level7.selection">
			{{#select system.talent.level7.selection}}
			<option value=""></option>
			<option value="endurance">Endurance</option>
			<option value="nimbleness">Nimbleness</option>
			<option value="strength">Strength</option>
			<option value="survival">Survival</option>
			<option value="charm">Charm</option>
			<option value="wit">Wit</option>
			<option value="wisdom">Wisdom</option>
			<option value="deceit">Deceit</option>
			<option value="diplomacy">Diplomacy</option>
			<option value="intimacy">Intimacy</option>
			<option value="aggression">Aggression</option>
			{{/select}}
		</select>
	{{/if}}

	<!-- Dropdown 8 - Conditionally Displayed -->
	{{#if (gte system.attributes.level.value 9)}}
		<select class="talent-select" id="talent-select-8" name="system.talent.level8.selection">
			{{#select system.talent.level8.selection}}
			<option value=""></option>
			<option value="endurance">Endurance</option>
			<option value="nimbleness">Nimbleness</option>
			<option value="strength">Strength</option>
			<option value="survival">Survival</option>
			<option value="charm">Charm</option>
			<option value="wit">Wit</option>
			<option value="wisdom">Wisdom</option>
			<option value="deceit">Deceit</option>
			<option value="diplomacy">Diplomacy</option>
			<option value="intimacy">Intimacy</option>
			<option value="aggression">Aggression</option>
			{{/select}}
		</select>
	{{/if}}

	<!-- Dropdown 9 - Conditionally Displayed -->
	{{#if (gte system.attributes.level.value 13)}}
		<select class="talent-select" id="talent-select-9" name="system.talent.level9.selection">
			{{#select system.talent.level9.selection}}
			<option value=""></option>
			<option value="endurance">Endurance</option>
			<option value="nimbleness">Nimbleness</option>
			<option value="strength">Strength</option>
			<option value="survival">Survival</option>
			<option value="charm">Charm</option>
			<option value="wit">Wit</option>
			<option value="wisdom">Wisdom</option>
			<option value="deceit">Deceit</option>
			<option value="diplomacy">Diplomacy</option>
			<option value="intimacy">Intimacy</option>
			<option value="aggression">Aggression</option>
			{{/select}}
		</select>
	{{/if}}
</center>
</div>

<style>
    .skills-container {
        font-family: Signika;
		font-size: 20px;
    }

    .skills-container .skills-grid {
		font-family: Modesto Condensed;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px;
        padding: 20px;
		background-image: url("systems/stryder/assets/parchment.jpg");
        background-color: #f5f5f5;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .skills-container .skill {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .skills-container .skill-icon {
        width: 30px;
        height: 30px;
    }

    .skills-container .skill-label {
        font-weight: bold;
        margin-right: 5px;
        cursor: pointer;
    }

    .skills-container .rollable:hover {
        text-decoration: underline;
    }

    .skills-container .skills-grid input[type="text"] {
        border: none;
        background-color: #DABE77;
        color: #333;
        text-align: center;
        border-radius: 4px;
        padding: 5px;
        width: 50px;
    }

    .skills-container .skills-grid input[type="text"]:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    }

    .skills-container h2 {
        color: #333;
        font-size: 18px;
    }
</style>