<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
	  <div style="color:gray; font-family: Arial; padding-top: 5px;">
		<b>Legacy Item</b>
	  </div>
      <div class="grid grid-2col">
        <div class="resource">
		<label class="resource-label">Rarity</label><br />
			<select name="system.rarity" style="width: 100%;">
				{{#select system.rarity}}
				<option value="common">Common</option>
				<option value="uncommon">Uncommon</option>
				<option value="rare">Rare</option>
				<option value="mythic">Legendary</option>
				<option value="one of a kind">One of a Kind</option>
				{{/select}}
			</select>
		</div>
        <div class="resource">
		<label class="resource-label">Nature</label><br />
			<select name="system.nature" style="width: 100%;">
				{{#select system.nature}}
				<option value="enchanted">Enchanted</option>
				<option value="magytech">Magytech</option>
				<option value="other">Other</option>
				{{/select}}
			</select>
		</div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the
      rollData prop. --}}
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner
      editable=editable}}
    </div>


    {{!-- Effects Tab --}}
    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/stryder/templates/item/parts/item-effects.hbs"}}
    </div>
  </section>
</form>

{{log system}}